/* Place CSS styles here */
body {
    background-color: #ffb1c6 ;
    text-align: center;
}
h1 { 
    font-size: 30px;
    color: #ffb1c6;
    background-color: #4b0826;
    border: 2px solid #5c092c;
    padding: 20px;
    width: 100%;
    box-sizing: border-box ;
    text-align: center;
}
.abbygif {
    border: 15px solid #9c1d56;
    border-style:double;
    text-align: center;
} 

h2 {
    font-size: 25px;
    color: #4b0826;
    
}

.half {
    width: 100%;
    max-width: 500px;
    height: auto;
}

html, body {
  height: 100%;
  margin: 0;
}

.split {
  display: flex;
  height: 100vh;
}

.split-right {
  flex: 1;  
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: top;
}

.split-left {
  flex: 1;
  background-image: url "img/contact me pic.png";
  background-size: cover;
  background-position: top;
}

a:hover {
  color: #f0f8ff;
}

a {
  font-size: 20px;
  color: #051b40;
  border: 6px solid #ffffc7;
  box-sizing: border-box;
  padding: 2px;
  background-color: #ffffc7;
  border-radius: 7px;
  text-decoration: none;
}
.navigation-pane {
  padding: 30px;
}